@import './mixins.scss';

.content {
  background-color: #C85A53;

  padding: 20px;

  line-height: 1.25em;

  a {
    white-space: pre-wrap;
    word-wrap: break-word; 
  }

  @include for-tablet-up {
    margin-left: 330px;
    padding: 20px 0 20px 20px;
    min-height: 100vh;
    width: 600px;
  }

  @include for-desktop {
    margin-left: 430px;
    width: 800px;
  }
}

.tag {
  display: inline-block;
  background-color: rgba(0, 0, 0, .1);
  padding: 0 .5em;
  margin-left: .5em;
  line-height: 1em;
  font-style: italic;
}

.article {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: center;

  .date {
    flex-shrink: 0;
  }

  time {
    font-weight: bold;
  }

  @include for-tablet-up {
    flex-direction: row;
    text-align: left;

    a {
      margin-left: 1em;
    }
  }
}