@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  margin: 0;
  padding: 0;

  font-family: 'Fira Code', monospace;
  font-size: 20px;
  color: #000;

  @media (min-width: 768px) {
    background: linear-gradient(90deg, #5A86AD 50%, #C85A53 50%);
  }
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #FDAA47;
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    max-width: 960px;
  }
}