.section {
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 960px;

  margin: 0 auto;
}

.section header {
  flex: 1;
  box-shadow: -2px 0px rgba(0, 0, 0, .25);
  padding-right: 2em;
}

.section article {
  flex: 1;

  padding-left: 2em;
}