@import './mixins.scss';

.sidebar {
  background-color: #5A86AD;
  border-bottom: solid 10px #FDAA47;

  display: flex;
  flex-direction: column;

  text-align: right;

  padding: 20px;

  header {
    font-size: 1.5em;
    font-weight: bold;
  }

  @include for-tablet-up {
    position: fixed;
    padding: 20px 20px 20px 0;
    border-bottom: none;
    border-right: solid 10px #FDAA47;
    width: 300px;
    min-height: 100vh;

    header {
      font-size: 2em;
    }
  }

  @include for-desktop {
    width: 400px;
  }
}

.social {
  font-size: 1.25em;
}