.container {
    display: flex;
    margin-bottom: 2.5em;
}

.icon {
    margin-right: 1em;
    margin-bottom: 0;
    width: 32px;
    border-radius: 100%;
    filter: grayscale(100%) opacity(50%);
    transition: .25s filter linear;
}

.icon:hover {
    transition: .125s filter linear;
    filter: grayscale(20%) opacity(80%);
}