@import "../styles/variables.scss";

.head {
  background-image: linear-gradient(135deg, #322030 25%, #372535 25%, #372535 50%, #322030 50%, #322030 75%, #372535 75%, #372535 100%);
  background-size: 8.49px 8.49px;

  h1, h2 {
    color: $scheme-main;
  }
}
